@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Rubik:wght@300;400;500&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

.logo-img {
    width: 75px;
    filter: invert();
}

.header-icons {
    width: 25px;
    height: 25px;
    fill: #FFF;
}

.header-icons:hover {
    width: 27px;
}

ul>li {
    padding: 5px 0;
}

.carrinho-img {
    width: 30px;
}

#carrousel {
    height: 75vh;
}

.carrousel-img {
    object-fit: cover;
    height: 75vh;
}


.card {
    padding: 0;
}

.card>img {
    width: 100%;
}


.read-more {
    font-weight: bolder;
}

.main-img {
    background-image: url("../img/Background/lendo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}


.nav-list li:hover {
    background-color: rgba(255, 255, 255, 0.08);
}

.card-link {
    padding-right: 5rem !important;
    padding-left: 5rem !important;
    background-color: white;
}

.footer-nav:hover {
    background: rgba(255, 255, 255, 0.08);
}

.card {
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);
    transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
    cursor: pointer;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
}

/* A partir da qui é a página de produto A */


.botoes {
    border-radius: 20px;
}

/* A partir login */

#login {
    overflow: hidden;
}

#login:first-child {
    border-radius: 15px;
    background-color: #f1f1f1;
}

.padding-login {
    padding: 180px 0;
}

#loginForm {
    max-width: 300px;
}