@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}

.logo-img {
    width: 75px;
    filter: invert();
}

.header-icons {
    width: 25px;
    height: 25px;
    fill: #FFF;

}

.header-icons:hover {
    background-color: #FFF;
    padding: 5px;
    border-radius: 5px;
}

ul>li {
    padding: 5px 0;
}

.carrinho-img {
    width: 30px;
}



#banner {
    background-image: url(../img/Background/lendo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
}

.card {
    padding: 0;
}

.card>img {
    width: 100%;
}

.card-title {
    font-weight: bolder;
}

.read-more {
    font-weight: bolder;
}